<ion-header>
  <ion-navbar>
    <ion-title>{{title}}</ion-title>
    <ion-buttons end>
      <button ion-button (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding class="card-background-page">
  <div class="empty" *ngIf="status != viewStatus.Full">
    <ion-icon name="thumbs-down"></ion-icon>
    <p>Não encontramos nenhuma oferta.</p>
  </div>

  <div *ngIf="status === viewStatus.Full">
    <ion-list>
      <offer-list *ngFor="let feed of offers" (click)="itemTapped($event, feed)" [feed]="feed"></offer-list>
    </ion-list>    
  </div>

</ion-content>
