<ion-header>
  <ion-navbar>
    <ion-title>{{title}}</ion-title>
    <ion-buttons end>
      <button ion-button (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding class="card-background-page">
  <div class="empty" *ngIf="!offers">
    <ion-icon name="thumbs-down"></ion-icon>
    <p>Não encontramos nenhuma oferta.</p>
  </div>

  <div *ngIf="offers">
    <ion-list>
      <ion-item *ngFor="let offer of offers | orderBy:toOrder" (click)="itemTapped($event, offer)">
        <ion-thumbnail item-left>
          <img src="{{offer.picture.cover}}"/>
        </ion-thumbnail>
        <h2>{{offer.item.title}}</h2>
        <p>{{offer.description}}</p>
        <!-- <button clear item-right>View</button> -->
      </ion-item>
    </ion-list>    
  </div>

</ion-content>
