<div class="background-image" [style.backgroundImage]="'url(' + profile.bgImage + ')'"></div>
<ion-card>
  <ion-card-content>
    <img class="animated wobble" src="{{profile.picture.thumbnail}}">
    <h2>{{profile.name}}</h2>
    <h3>{{profile.username}}</h3>
  </ion-card-content>

  <div class="profile-menu">
		<ion-list>
			<button ion-item (click)="gotoBank($event)">
		    Moedas
		    <ion-icon item-right name="arrow-forward"></ion-icon>
		  </button>
		  <button ion-item (click)="gotoFollowers($event)">
		    Seguidores
		    <ion-icon item-right name="arrow-forward"></ion-icon>
		  </button>
		  <button ion-item (click)="gotoFollows($event)">
		    Seguindo
		    <ion-icon item-right name="arrow-forward"></ion-icon>
		  </button>
		  <button ion-item (click)="gotoFavorites($event)">
		    Minha Lista
		    <ion-icon item-right name="arrow-forward"></ion-icon>
		  </button>
		  <button ion-item (click)="gotoReviews($event)">
		    Avaliações
		    <ion-icon item-right name="arrow-forward"></ion-icon>
		  </button>
		  <button ion-item (click)="gotoSettings($event)">
		    Configurações
		    <ion-icon item-right name="arrow-forward"></ion-icon>
		  </button>
		</ion-list>
  </div>
</ion-card>
