<ion-header>
  <ion-navbar>
    <button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{title}}</ion-title>
  </ion-navbar>
</ion-header>


<ion-content class="card-background-page">
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <loading-modal></loading-modal>

  <div class="empty" *ngIf="status === viewStatus.Empty">
    <ion-icon name="thumbs-down"></ion-icon>
    <p>There are currently no products here.</p>
  </div>

  <div>
    <ion-grid class="main-categories">

      <ion-row *ngFor="let i of rows" (click)="itemTapped($event, item)">
        <ion-col width-33 *ngFor="let item of categories | slice:(i*3):(i+1)*3;">
          <div class="cat-slot">
            <ion-icon name="{{item.icon}}"></ion-icon>
            <h3 class="cat-title">{{item.name}}</h3>
          </div>
        </ion-col>
      </ion-row>

    </ion-grid>

  </div>

</ion-content>
