<ion-header>
  <ion-navbar>
    <button ion-button menuToggle left>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{title}}</ion-title>
  </ion-navbar>
</ion-header>


<ion-content class="card-background-page">

  <div class="empty" *ngIf="status === viewStatus.Empty">
    <ion-icon name="thumbs-down"></ion-icon>
    <p>Nenhuma categoria encontrada!</p>
  </div>

  <div class="full" *ngIf="status === viewStatus.Full">
    <input type="checkbox" class="show-more-state" id="more-categories" />

    <ion-grid class="main-categories show-more-wrap">
      
      <ion-row *ngFor="let i of rows" [ngClass]='morethantworows(i)'>
        <ion-col width-50 *ngFor="let item of categories | slice:(i*2):(i+1)*2;">
          <div class="cat-slot animated flipInX" (click)="itemTapped($event, item)">
            <i class="otIcon-{{item.icon}}"></i>
            <h3 class="cat-title">{{item.name}}</h3>
          </div>
        </ion-col>
      </ion-row>

    </ion-grid>

    <div class="show-more-trigger-container" *ngIf="showButton()">
      <label for="more-categories" class="show-more-trigger"></label>
    </div>
  </div>

</ion-content>
