<ion-header>

  <ion-navbar>
    <ion-title>{{title}}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content class="follows-page">
  <div class="empty" *ngIf="status === viewStatus.Empty">
    <ion-icon name="thumbs-down"></ion-icon>
    <p>Nenhum resultado encontrado aqui!!</p>
  </div>

  <div *ngIf="status === viewStatus.Full">
    <ion-item padding class="social-counter">
      <h2>90</h2>
      <p>Seguidores</p>
      <div class="avatar">
        <img src="assets/img/avatar3.png">
      </div>
    </ion-item>
    <user-card *ngFor="let flw of follows" (click)="userTapped($event, flw.user.buyer.buyerId)" [feed]="flw.user.buyer"></user-card>
  </div>


</ion-content>
