<ion-header>
  <ion-navbar>
    <ion-title>{{title}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="product-detail-page">

  <loading-modal></loading-modal>

    
  <div *ngIf="product">
    <ion-card>
      <div id="elastic-header" [style.backgroundImage]="'url(' + bgImage + ')'">
      </div>
      <ion-item class="item-title">
        <ion-avatar item-right class="item-rating">
          <i class='otIcon-star-outline'></i>
          <span> 4.5</span>
        </ion-avatar>
        <ion-avatar item-right>
          <img src="http://ondetem.tk/{{product.seller.picture.thumbnail}}">
        </ion-avatar>
        <h2>{{product.item.title}}</h2>
        <p>{{product.seller.name}}</p>
      </ion-item>


      <ion-card-content>
        <p>{{product.description}}</p>
      </ion-card-content>

    </ion-card>

    <ion-list no-lines class="info-list">
      <ion-item (click)="gotoCompany(product.seller)">
        <i class="otIcon-map" item-left></i>
        <h2>{{product.seller.name}}</h2>
      </ion-item>
      <ion-item>
        <i class="otIcon-email" item-left></i>
        <h2>{{product.seller.email}}</h2>
      </ion-item>
      <ion-item>
        <i class="otIcon-phone" item-left></i>
        <h2>{{product.seller.hours}}</h2>
        <p>Ugh. As if.</p>
      </ion-item>
    </ion-list>

    <h4 class="content padding double-padding-x" style="text-align: center;">Avaliações</h4>

    <ion-list class="reviews" *ngIf="hasField(product.reviews)">
      <ion-item-sliding *ngFor="let item of product.reviews">
        <ion-item>
          <ion-avatar item-left>
            <img src="http://ondetem.tk/{{item.buyer.picture.thumbnail}}">
          </ion-avatar>
          <p>{{item.buyer.name}}</p>
          <h2>{{item.review.title}}</h2>

          <ion-avatar class="item-rating" item-right>
            {{getRating(item.rating)}}
          </ion-avatar>
          <ion-icon *ngIf="getRating(item.rating) < 5" danger name="sad" item-right></ion-icon>
          <ion-icon *ngIf="getRating(item.rating) >= 5" secondary name="happy" item-right></ion-icon> 
        </ion-item>
        <ion-item-options side="right">
          <button primary (click)="reviewTapped($event, item)">
            <ion-icon name="text"></ion-icon>
            View
          </button>
          <button secondary>
            <ion-icon name="call"></ion-icon>
            Like
          </button>
          <button danger (click)="deleteReview(item)">
            <ion-icon name="trash"></ion-icon>
            Delete
          </button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>

    <ion-list class="reviews" *ngIf="!hasField(product.reviews)">
      <ion-item style="text-align: center;">
        <ion-icon name="thumbs-down"></ion-icon>
        <p>Nenhuma avaliação encontrada... </p>
        <p>Seja o primeiro!</p>
      </ion-item>
    </ion-list>

  </div>

</ion-content>
