.product-detail-page {
	ion-card {
		margin: unset;
		width: 100%;
		background-color: unset;

		ion-label {
			h2 {
				font-size: 2rem;
				font-weight: bold;
			}
			p {
				color: map-get($colors, primary);
				font-size: 1.6rem;
			}
		}
	}
	ion-card-content {
		h2,p {
			color: map-get($colors, midtone);
		}
	}
}

div.company-item {
    padding: 4px 4px 0 4px;
    height: 74px;

    ion-list {
    	margin-bottom: 0;
    }
}

.coin-toast {
	.toast-wrapper {
		background: #333 url(../assets/img/coins.png);
		background-repeat: no-repeat;
    	background-size: contain;
	}

	.toast-message {
    	padding: 19px 16px 17px 65px;
	}
}