.product {
	ion-card {
		background-color: unset;
	}
	ion-card-content {
		h2,p {
			color: map-get($colors, light);
		}
	}
}

div.company-item {
    padding: 4px 4px 0 4px;
    height: 74px;

    ion-list {
    	margin-bottom: 0;
    }
}

.coin-toast {
	.toast-wrapper {
		background: #333 url(../assets/img/coins.png);
		background-repeat: no-repeat;
    	background-size: contain;
	}

	.toast-message {
    	padding: 19px 16px 17px 65px;
	}
}