.product-detail-page {
	ion-card {
		margin: unset;
		width: 100%;
		background-color: unset;

		#elastic-header {
		    height: 30vh;
		    background-size: cover;
		    background-repeat: no-repeat;
		    background-position: 50% 30%;
		}

		ion-item.item-title {
			padding: 8px;
			padding-left: 20px;
		}
	}

	#offer-actions {
		div.table {
			display: table;   /* Allow the centering to work */
			margin: 0 auto;
			ul#horizontal-list {
				width: 100%;
			    list-style: none;
			    padding-top: 10px;
			    -webkit-padding-start: 0;
			    -webkit-margin-before: 0;
			    -webkit-margin-after: 0;
			    -webkit-margin-start: 0px;
			    -webkit-margin-end: 0px;
				li {
					display: inline;
					padding-right: 15px;
					button.offer-action {
						background-color: white;
						width: 64px;
						height: 64px;
						font-size: 2.3rem;
					}
				}
			}
		}
	}
}


ion-avatar.item-rating {
	color: map-get($colors, primary);
	font-size: 3rem;
	.rating-round {
		align-self: center;
	    h3 {
	      background-color: map-get($colors, primary);
	      border-radius: 50%;
	      width: 64px;
	      height: 64px;
	      line-height: 64px;
	      text-align: center;
	      color: white;
	      font-size: 2.5rem;

	      &.green {
	        background-color: map-get($colors, primary);
	      }
	      &.yellow {
	        background-color: #ffca00;
	      }
	      &.red {
	        background-color: map-get($colors, danger);
	      }
	    }
	}
	span.not-enough {
		font-size: 1rem;
	    display: block;
	    width: 25px;
	    word-wrap: break-word;
	    /* height: 100px; */
	    /* word-break: break-word; */
	    /* white-space: normal; */
	    /* float: right; */
	}
}

.product-detail-page, .company-detail-page, .user-detail-page {
	ion-card-content {
		h2,p {
			color: map-get($colors, midtone);
		}
		p {
			padding-left: 4px;
			font-size: 1.8rem;
		}
	}

	.company-about, .buyer-about {
		color: map-get($colors, midtone);
		padding: 16px 16px 13px 18px;
		font-size: 1.8rem;
	}

	.info-list {
		i {
			font-size: 2rem;
			color: map-get($colors, midtone);
		    margin: 9px 12px 9px 3px;
		}
	}
}

.coin-toast {
	.toast-wrapper {
		background: #333 url(../assets/img/coins.png);
		background-repeat: no-repeat;
    	background-size: contain;
	}

	.toast-message {
    	padding: 19px 16px 17px 65px;
	}
}