<ion-header>

  <ion-navbar>
    <ion-title>{{title}}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>

<ion-list *ngIf="status === viewStatus.Full">
  <ion-list-header>
    Últimas Transações
  </ion-list-header>
	<ion-item class="animated bounceInRight" *ngFor="let tr of tx" [ngClass]="posNeg(tr.transaction)">
		<span class="value">{{tr.transaction.amount}} {{tr.transaction.token.name}}</span>
		<p>{{tr.transaction.timestamp}}</p>
	</ion-item>

  <ion-list-header>
    Saldo
  </ion-list-header>
  <ion-item class="value">0 COINs</ion-item>
</ion-list>

</ion-content>
