<ion-header>
  <ion-navbar>
    <button ion-button menuToggle left>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{title}}</ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="moreOptions($event)">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="profile-page">
  <loading-modal></loading-modal>

  <div *ngIf="user">
    <div id="elastic-header" [style.backgroundImage]="'url(' + bgImage + ')'"></div>
    <div class="profile-info">
      <ion-card>
        <ion-card-content>
          <img class="animated wobble" src="http://ondetem.tk/{{user.buyer.picture.thumbnail}}">
          <h2>{{user.buyer.name}}</h2>
          <h3>{{user.username}}</h3>
        </ion-card-content>

        <ion-row no-padding>
          <ion-col>
            <button ion-button clear small color="secondary" icon-left (click)="addReview()">
              <ion-icon name='star'></ion-icon>
              Seguir
            </button>
          </ion-col>
          <ion-col text-center>
            <button ion-button clear small color="secondary" icon-left (click)="like($event)">
              <ion-icon name='navigate'></ion-icon>
              Mensagem
            </button>
          </ion-col>
          <ion-col text-right>
            <button ion-button clear small color="secondary" icon-left (click)="share($event)">
              <ion-icon name='share-alt'></ion-icon>
              Sobre
            </button>
          </ion-col>
        </ion-row>
      </ion-card>
    </div>

    <h4 class="content padding double-padding-x" style="text-align: center;">Moedas</h4>
    <ion-list>
      <ion-list-header>
        Saldo
      </ion-list-header>
      <ion-item class="value">{{user.buyer.coinsBalance}}</ion-item>
      <ion-list-header>
        Últimas Transações
      </ion-list-header>
      <ion-item class="balance-pos animated bounceInRight"><span class="value">20</span></ion-item>
      <ion-item class="balance-pos animated bounceInRight"><span class="value">5</span></ion-item>
      <ion-item class="balance-pos animated bounceInRight"><span class="value">10</span></ion-item>
      <ion-item class="balance-pos animated bounceInRight"><span class="value">10</span></ion-item>
      <ion-item class="balance-neg animated bounceInLeft"><span class="value">1200</span></ion-item>
    </ion-list>

    <ion-list inset>
      <button ion-item (click)="updatePicture()">Update Picture</button>
      <button ion-item (click)="changeUsername()">Change Username</button>
      <button ion-item (click)="changePassword()">Change Password</button>
      <button ion-item (click)="connectFacebook()">Connect with Facebook</button>
      <button ion-item (click)="logout()">Logout</button>
    </ion-list>

    <!-- <h4 class="content padding double-padding-x" style="text-align: center;">Avaliações</h4>
    <ion-grid class="reviews" *ngIf="hasField(user.buyer.reviews)">
      <ion-row *ngFor="let i of rows" (click)="itemTapped($event, item)">
        <ion-col width-50 *ngFor="let item of user.buyer.reviews | slice:(i*2):(i+1)*2;">
          <ion-card>
            <img src="assets/img/generic-product.png"/>
            <div class="card-title">{{item.title}}</div>
            <div class="card-subtitle">{{item.rating}}</div>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
    <div class="missing-item" *ngIf="!hasField(user.buyer.reviews)">
      Nenhuma revisão encontrada!
    </div> -->

  </div>

</ion-content>
