.company-detail-page, .profile-page {

  ion-card {
    overflow: visible;
    margin: 0;
    width: 100%;
    box-shadow: unset;

    ion-card-content {
      background-color: transparent;//map-get($colors, primary);
      color: map-get($colors, highlight);
      text-align: center;
      padding-bottom: 28px;

      img {
        height: 160px;
        width: 160px;
        border-radius: 50%;
        margin-top: -100px;
        border: solid 2px map-get($colors, light);
        display: inline;
        background-color: black;
      }

      h2 {
        font-size: 2.5rem;
        margin-top: .5rem;
      }

      h3 {
        font-size: 1.8rem;
      }
    }
  }

  h4 {
    font-family: 'Lato';
    color: map-get($colors, dark);
  }
}

ion-content.profile-page {
  background: unset;
  @include gradient(#178c97, #34b483, -15deg);
  ion-card {
    background: unset;
  }
}

.reviews {
  ion-card {
    position: relative;
    text-align: center;
  }

  .card-title {
    position: absolute;
    top: 36%;
    font-size: 2.0em;
    width: 100%;
    font-weight: bold;
    color: #fff;
  }

  .card-subtitle {
    font-size: 1.0em;
    position: absolute;
    top: 52%;
    width: 100%;
    color: #fff;
  }
}

ion-list-header {
  padding-left: 16px;
  font-weight: 500;
  font-size: 1.3rem !important;
  padding-top: 12px;
  letter-spacing: .1rem !important;
  text-transform: uppercase !important;
  color: map-get($colors, secondary) !important;
}

.background-image {
  height: 64vw;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  border-bottom: solid 2px map-get($colors, light);
  background-size: cover;
  background-position: center;
}

div.profile-menu {
  ion-grid {
    padding: 0 10px;
    margin-top: -15px;
    ion-col {
      padding: .31rem;

      i {
        padding: 0;
        display: block;
        text-align: center;
        /*text-shadow: 0px 2px 3px rgba(0,0,0,0.3);
        -webkit-background-clip: text;
           -moz-background-clip: text;
                background-clip: text;*/
      }

      i:before {
        display: inline-block;
        font-family: 'ondetem';
        font-size: 4rem;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
      }
      
      ion-icon {
        padding: 0;
        display: block;
        text-align: center;
        font-size: 4rem;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
      }

      div.slot {
        display: block;
        height: 100%;
        text-decoration: none;
        padding: 5px;
        padding-top: 12px;
        background-color: transparent;
        color: rgba(255,255,255,0.6);
        text-shadow: 2px 2px 3px rgba(0,0,0,0.3);
        border: 1px solid map-get($colors, light);
        border-radius: 3px;
      }

      h3.cat-title {
        margin: 2px 0 3px 0;
        padding: 2px 0 0 0;
        font-size: 1em;
        color: white;
        text-align: center;
        position: relative;
        -webkit-transition: -webkit-transform 0.2s;
        -moz-transition: -moz-transform 0.2s;
        transition: transform 0.2s;
        font-family: "Lato";
      }
    }
  }
}

.company-card {
  height: 64vw;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;

  img {
    width: 100%;
    z-index: -1;
    position: unset;
    display: unset;
    transform: translateX(-50%);
    transform: translateY(0);
  }
}

