.sign-tabs {

}

.signin-page .search-header, .signup-page .search-header {
  ion-item {
    &.search-bar {
      .text-input {
        text-align: left;
      }
    }
  }
}

.signin-page .search-header, .signup-page .search-header {
	margin-top: 0px;
	padding-left: 0;
	ion-item {
		&.search-btn {
	    	margin-top: 10px;
		}
	}
	ion-label {
		font-size: 2rem;
	}
	control-messages {
		color: map-get($colors, danger);
	}
}

ul.altLogin {
	padding-left: 0px;
	text-align: center;
	li {
		display: inline;
		list-style-type: none;
		padding-right: 20px;

		button {
			border-radius: 50%;
			background-color: map-get($colors, primary);
			height: 50px;
			width: 50px;
			color: white;
		}
	}
}