.sign-tabs {

}

.signin-page .search-header, .signup-page .search-header {
  ion-item {
    &.search-bar {
      .text-input {
        text-align: left;
      }
    }
  }
}

.signin-page .search-header, .signup-page .search-header {
	margin-top: 0px;
	ion-item {
		&.search-btn {
	    	margin-top: 10px;
		}
	}
}

ul.altLogin {
	padding-left: 0px;

	li {
		display: inline;
		list-style-type: none;
		padding-right: 20px;

		button {
			border-radius: 50%;
			background-color: map-get($colors, primary);
			height: 50px;
			width: 50px;
			color: white;
		}
	}
}