<ion-item-sliding>
  <ion-item>
    <ion-thumbnail item-left>
      <img src="{{post.offer.picture.cover}}" style="padding-top: 1rem;">
    </ion-thumbnail>
    <h2>{{post.offer.item.title}}</h2>
    <p>{{post.voucher.discount}}%</p>
    <p>{{(post.offer.pricePerUnit * (1 - post.voucher.discount/100)) | moneyFormat:[]}}</p>
  </ion-item>
  <ion-item-options>
    <button ion-button color="light" icon-start (click)="gotoProduct()">
      <ion-icon name="ios-more"></ion-icon>
      Mais
    </button>
    <button ion-button color="secondary" icon-start (click)="use()">
      <i class="otIcon-redeem"></i>
      Usar
    </button>
  </ion-item-options>
</ion-item-sliding>
