// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
@import "ionic.globals";

// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/

$text-color:        #2a2a2a;
$background-color:  #fafafa;

// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

//798289
//secondary:  #408b99,
$colors: (
  primary:    #34b483,
  secondary:  #3B77AD,
  terciary:   #85E442,
  danger:     #cb0061,
  light:      #c0d7d9,
  dark:       #2a2a2a,
  favorite:   #25afcb,
  midtone:    #A4B8BA,
  icons:      #C0D7D9
);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

$ionicons-font-path: "../assets/fonts";
@import "ionicons";

/* Webfont: Lato-Black */@font-face {
    font-family: 'LatoBlack';
    src: url('../assets/fonts/Lato-Black.eot'); /* IE9 Compat Modes */
    src: url('../assets/fonts/Lato-Black.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../assets/fonts/Lato-Black.woff2') format('woff2'), /* Modern Browsers */
         url('../assets/fonts/Lato-Black.woff') format('woff'), /* Modern Browsers */
         url('../assets/fonts/Lato-Black.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: Lato-Regular */@font-face {
    font-family: 'Lato';
    src: url('../assets/fonts/Lato-Regular.eot'); /* IE9 Compat Modes */
    src: url('../assets/fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../assets/fonts/Lato-Regular.woff2') format('woff2'), /* Modern Browsers */
         url('../assets/fonts/Lato-Regular.woff') format('woff'), /* Modern Browsers */
         url('../assets/fonts/Lato-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
//<link href="https://fonts.googleapis.com/css?family=Lato:400,900" rel="stylesheet">


ion-app.ios {
  font-family: "Lato", sans-serif !important;
}

ion-app.md {
  font-family: "Lato", sans-serif !important;
}

ion-app.wp {
  font-family: "Lato", sans-serif !important;
}

