<ion-header>
  <ion-navbar>
    <ion-title>{{title}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="card-background-page">
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <loading-modal></loading-modal>

  <div class="empty" *ngIf="status === viewStatus.Empty">
    <ion-icon name="thumbs-down"></ion-icon>
    <p>Não encontramos nenhuma oferta nessa categoria.</p>
  </div>

  <div *ngIf="status === viewStatus.Full">
    <ion-list>
      <ion-item-group *ngFor="let line of groupedOffers">
        <ion-item *ngFor="let item of line.items | orderBy:toOrder" (click)="itemTapped($event, item)">
          <ion-thumbnail item-left>
            <img src="assets/{{item.photoSrc}}"/>
          </ion-thumbnail>
          <h2>{{item.title}}</h2>
          <p>{{item.description}}</p>
          <!-- <button clear item-right>View</button> -->
        </ion-item>
      </ion-item-group>
    </ion-list>

    
  </div>

</ion-content>
