.product {

}

offer {
  .item-md.item-block .item-inner {
    border-bottom: none;
  }
  .item-md, ion-item-divider.item-md {
    background-color: transparent;
  }
}

ion-content.card-background-page {
  .card-title {
    font-size: 1.5em;
  }
  .card-subtitle {
    top: 55%;
  }
  ion-card {
    box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.1);

    ion-item {
      h2 {
        font-weight: bold;
        font-size: 2rem;
        font-family: 'LatoBlack';
      }

      p {
        color: map-get($colors, primary);
        font-size: 1.8rem;
        font-family: 'Lato';
      }
    }
    img {
      -webkit-border-radius: 7px;
      -moz-border-radius: 7px;
      border-radius: 7px;
    }

    ion-card-content {
      p {
        font-size: 1.6rem;
        color: map-get($colors, midtone);
        text-align: left;
      }
    }
  }
}


.empty {
  text-align: center;
  margin-top: 60%;
  width: 100%;
  /*height: 100%;*/
  border-top: unset !important;
  border-bottom: unset !important;

  ion-icon {
    font-size: xx-large;
    color: #999;
  }

  p {
    color: #bbb;
    font-size: x-large;
  }
}

.bookmark, .favorite {
  position: absolute;
  top: 10px;
  right: 10px;
}

.bookmark input[type=checkbox], .favorite input[type=checkbox] { display:none; } /* to hide the checkbox itself */
.bookmark input[type=checkbox] + label:before, .favorite input[type=checkbox] + label:before {
  font-family: "Ionicons";
  display: inline-block;
}

.bookmark input[type=checkbox] + label:before { content: "\f12e"; }
.favorite input[type=checkbox] + label:before { content: "\f42d"; }
.bookmark input[type=checkbox] + label:before, .favorite input[type=checkbox] + label:before { letter-spacing: 10px; color: #aaa; font-size: xx-large; } /* unchecked icon */

.bookmark input[type=checkbox]:checked + label:before { content: "\f12e"; }
.favorite input[type=checkbox]:checked + label:before { content: "\f42d"; }
.bookmark input[type=checkbox]:checked + label:before, .favorite input[type=checkbox]:checked + label:before { letter-spacing: 10px; color: #ffc500; font-size: xx-large; } /* checked icon */