<ion-header>
  <ion-navbar>
    <ion-title>{{title}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="card-background-page">
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <loading-modal></loading-modal>

  <div class="empty" *ngIf="status === viewStatus.Empty">
    <ion-icon name="thumbs-down"></ion-icon>
    <p>Não encontramos nenhuma oferta nessa categoria.</p>
  </div>

  <div *ngIf="status === viewStatus.Full">
    <ion-list>
        <ion-item *ngFor="let product of products | orderBy:toOrder" (click)="itemTapped($event, product)">
          <ion-thumbnail item-left>
            <img src="http://ondetem.tk/{{product.picture.thumbnail}}"/>
          </ion-thumbnail>
          <h2>{{product.title}}</h2>
          <p>{{product.description}}</p>
          <!-- <button clear item-right>View</button> -->
        </ion-item>
    </ion-list>

    
  </div>

</ion-content>
