<ion-header>
  <ion-navbar>
    <ion-title>{{title}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="card-background-page">
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div class="empty" *ngIf="status === viewStatus.Empty">
    <ion-icon name="thumbs-down"></ion-icon>
    <p>Não encontramos nenhuma oferta nessa categoria.</p>
  </div>

  <div *ngIf="status === viewStatus.Full">
    <ion-card *ngFor="let offer of products | orderBy:toOrder" (click)="itemTapped($event, offer)">
      <ion-item>
        <ion-avatar item-right class="item-rating">
          <ion-icon name='star-outline'></ion-icon>
          <span> 4.5</span>
        </ion-avatar>
        <ion-avatar item-right>
          <img src="http://ondetem.tk/{{offer.seller.picture.thumbnail}}">
        </ion-avatar>
        <h2>{{offer.item.title}}</h2>
        <p>{{offer.seller.name}}</p>
      </ion-item>

      <img src="http://ondetem.tk/{{offer.picture.cover}}">

      <ion-card-content>
        <p>{{offer.description}}</p>
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>
