<div [ngClass]="chosenTheme">
  <!-- logged out menu -->
  <ion-menu id="loggedOutMenu" [content]="content">

    <ion-header>
      <ion-toolbar>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content class="outer-content">

    <!-- privacy and other stuff -->

      <ion-list>
        <ion-list-header>
          Conta
        </ion-list-header>
        <button ion-item *ngFor="let p of loggedOutPages" (click)="openPage(p)">
          <ion-icon item-left [name]="p.icon"></ion-icon>
          {{p.title}}
        </button>
      </ion-list>

      <ion-list>
        <ion-list-header>
          Ajuda
        </ion-list-header>
        <button menuClose ion-item (click)="openTutorial(false)">
          <ion-icon item-left name="hammer"></ion-icon>
          Tour
        </button>
        <button menuClose ion-item (click)="openAbout()">
          <ion-icon item-left name="book"></ion-icon>
          Sobre a Onde tem?
        </button>
        <button menuClose ion-item onclick="window.open('http://admin.ondetem-gn.com.br/', '_system', 'location=yes')">
          <ion-icon item-left name="open"></ion-icon>
          Ir para website
        </button>
      </ion-list>
    </ion-content>

  </ion-menu>

  <!-- logged in menu -->
  <ion-menu id="loggedInMenu" [content]="content">

    <ion-header>
      <ion-toolbar>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content class="outer-content">

      <ion-list>
        <ion-list-header>
          Navegação
        </ion-list-header>
        <button ion-item *ngFor="let p of appPages" (click)="openPage(p)">
          <ion-icon item-left [name]="p.icon"></ion-icon>
          {{p.title}}
        </button>
      </ion-list>

      <ion-list>
        <ion-list-header>
          Ajuda
        </ion-list-header>
        <button menuClose ion-item (click)="openTutorial(true)">
          <ion-icon item-left name="hammer"></ion-icon>
          Tour
        </button>
        <button menuClose ion-item (click)="openAbout()">
          <ion-icon item-left name="book"></ion-icon>
          Sobre a Onde tem?
        </button>
        <button menuClose ion-item onclick="window.open('http://admin.ondetem-gn.com.br/', '_system', 'location=yes')">
          <ion-icon item-left name="open"></ion-icon>
          Ir para website
        </button>
      </ion-list>

      <ion-list>
        <ion-list-header>
          Conta
        </ion-list-header>
        <button ion-item *ngFor="let p of loggedInPages" (click)="openPage(p)">
          <ion-icon item-left [name]="p.icon"></ion-icon>
          {{p.title}}
        </button>
      </ion-list>
    </ion-content>

  </ion-menu>

  <ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
</div>