.company-detail-page {

}

.company-detail-page, .profile-page {
	#elastic-header {
	    height: 45vh;
	    background-size: cover;
	    background-repeat: no-repeat;
	    background-position: 50% 30%;
	}
}