<ion-header>

  <ion-navbar>
    <ion-title>{{title}}</ion-title>
  </ion-navbar>

</ion-header>

<<ion-content *ngIf="status === viewStatus.Empty">
  <empty-list [msg]="'Nenhum favorito na lista!!'"></empty-list>
</ion-content>

<ion-content padding *ngIf="status === viewStatus.Full">
	<ion-list *ngIf="favorites">
		<ion-item class="bounceInRight" *ngFor="let fav of favorites">
			<span class="value">{{fav.offer.item.title}}</span>
			<p>{{flw.offer.description}}</p>
		</ion-item>
	</ion-list>
</ion-content>
