<div class="background-image" [style.backgroundImage]="'url(' + profile.bgImage + ')'">
  <!-- <button ion-button class="cover-edit" (click)="gotoSettings($event)">
    <ion-icon item-right name="create"></ion-icon>
  </button> -->
</div>
<ion-card>
  <ion-card-content>
    <img class="animated wobble" src="{{profile.picture.thumbnail}}">
    <!-- <button ion-button class="thumb-edit" (click)="gotoSettings($event)">
      <ion-icon item-right name="create"></ion-icon>
    </button> -->
  </ion-card-content>

  <div class="profile-menu">
    <ion-grid>
      <ion-row no-padding>
        <ion-col (click)="showRadio()">
          <div class="slot">
            <ion-icon name='refresh'></ion-icon>
            <h3 class="cat-title">Trocar Perfil</h3>
          </div>
        </ion-col>
        <ion-col text-center>
          
        </ion-col>
        <ion-col>
          <div class="slot">
            <i class='otIcon-money'></i>
            <h3 class="cat-title">{{balance.COIN | moneyFormat:['OTK']}}</h3>
          </div>
        </ion-col>
      </ion-row>
      <ion-row no-padding>
        <ion-col (click)="gotoFollows($event)">
          <div class="slot">
            <i class='otIcon-puzzle'></i>
            <h3 class="cat-title">Seguidores</h3>
          </div>
        </ion-col>
        <ion-col (click)="gotoFavorites($event)">
          <div class="slot">
            <i class='otIcon-heart'></i>
            <h3 class="cat-title">Favoritos</h3>
          </div>
        </ion-col>
        <ion-col (click)="gotoReviews($event)">
          <div class="slot">
            <i class='otIcon-pencil'></i>
            <h3 class="cat-title">Avaliações</h3>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-item class="search-btn" no-lines>
      <button ion-button round outline (click)="gotoSettings($event)">Configurações</button>
    </ion-item>

  </div>
</ion-card>
