<ion-header>
  <ion-navbar>
    <ion-title>{{title}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="search-page">

  <!-- <ul class="search-header">
    <li><img src="assets/img/logo.png"></li>
    <li>Onde tem um(a)</li>
    <li>
      <ion-searchbar
        [(ngModel)]="searchTerm"
        [debounce]="10"
        (ionInput)="getItems($event)"
        (change)="onInput()"
        name="search">
      </ion-searchbar>
    </li>
    <li><button ion-button round>Round Button</button></li>
  </ul> -->

  <ion-list>
    <ion-item-group *ngIf="items?.offers">
      <ion-list-header>
        Ofertas ({{items.offers?.length}})
      </ion-list-header>
      <offer-card *ngFor="let feed of items.offers" (click)="itemTapped($event, feed)" [feed]="feed"></offer-card>
    </ion-item-group>

    <ion-item-group *ngIf="items?.sellers">
      <ion-list-header>
        Empresas ({{items.sellers?.length}})
      </ion-list-header>
      <seller-card *ngFor="let seller of items.sellers" (click)="companyTapped($event, seller)" [feed]="seller"></seller-card>
    </ion-item-group>

    <ion-item-group *ngIf="items?.buyers">
      <ion-list-header>
        Usuários ({{items.buyers?.length}})
      </ion-list-header>
      <user-card *ngFor="let buyer of items.buyers" (click)="userTapped($event, buyer)" [feed]="buyer"></user-card>
    </ion-item-group>
  </ion-list>
</ion-content>
