<ion-header>
  <ion-navbar>
    <ion-title>{{title}}</ion-title>
  </ion-navbar>
  <ion-toolbar>
    <ion-segment [(ngModel)]="followtabs" color="secondary">
      <ion-segment-button value="followers">
        Seguidores
      </ion-segment-button>
      <ion-segment-button value="following">
        Seguindo
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content class="follows-page">
  <div class="empty" *ngIf="status === viewStatus.Empty">
    <ion-icon name="thumbs-down"></ion-icon>
    <p>Nenhum resultado encontrado aqui!!</p>
  </div>

  <div *ngIf="status === viewStatus.Full">
    <div [ngSwitch]="followtabs">
      <ion-list class="social-list" *ngSwitchCase="'followers'">
        <ion-item padding class="social-counter ers">
          <h2>{{followers.length}}</h2>
          <p>{{(followers.length == 1 ? "Seguidor" : "Seguidores") }}</p>
          <div class="avatar">
            <img src="{{profile.picture.thumbnail}}">
          </div>
        </ion-item>

        <follow-card *ngFor="let feed of followers" [feed]="feed" (click)="userTapped($event, 'flw')"></follow-card>
      </ion-list>

      <ion-list class="social-list" *ngSwitchCase="'following'">
        <ion-item padding class="social-counter ing">
          <p>Seguindo</p>
          <h2>{{following.length}}</h2>
          <div class="avatar">
            <img src="{{profile.picture.thumbnail}}">
          </div>
        </ion-item>

        <follow-card *ngFor="let feed of following" [feed]="feed" (click)="userTapped($event, 'flw')"></follow-card>
      </ion-list>

    </div>
    
  </div>


</ion-content>
