follows-page {
}

ion-list.social-list {
  ion-item.social-counter {
    ion-label {
      h2 {font-size: 6rem !important;}
      color: map-get($colors, midtone);
    }
    .avatar {
      position: absolute;
      top: 16px;

      img {
        width: 100px;
        border-radius: 50%;
        float: left;
      }
    }

    &.ing {
      ion-label {
        h2, p {
          text-align: right;
        }
      }
      .avatar {
        left: 16px;
      }
    }

    &.ers{
      ion-label {
        h2, p {
          text-align: left;
        }
      }
      .avatar {
        right: 16px;
      }
    }
  }
}
