<ion-header>
  <ion-navbar>
    <button ion-button menuToggle left>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{title}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="card-background-page">
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div class="empty" *ngIf="status === viewStatus.Empty">
    <ion-icon name="thumbs-down"></ion-icon>
    <p>Nenhuma promoção cadastrada!</p>
  </div>

  <div *ngIf="status === viewStatus.Full">
    <ion-row *ngFor="let i of rows">
      <ion-col *ngFor="let feed of products | orderBy:toOrder | slice:(i*2):(i+1)*2" width-50>
        <offer-promo (click)="itemTapped($event, feed)" [feed]="feed"></offer-promo>
      </ion-col>
    </ion-row>
    
    <!-- <offer-list *ngFor="let feed of products | orderBy:toOrder" (click)="itemTapped($event, feed)" [feed]="feed"></offer-list> -->
  </div>

</ion-content>
