<ion-header>
  <ion-navbar>
    <ion-title>{{title}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="product-detail-page">

  <div *ngIf="product">
    <ion-card class="product-card">
      <div id="elastic-header" [style.backgroundImage]="'url(' + bgImage + ')'">
      </div>
      <div id="offer-actions">
        <div class="table">
          <ul id="horizontal-list">
            <li><button ion-button round outline class="offer-action" (click)="share()"><i class="otIcon-share"></i></button></li>
            <li *ngIf="canAdd"><button ion-button round outline class="offer-action" (click)="favorite()"><i class="otIcon-favorite"></i></button></li>
            <li *ngIf="!canAdd"><button ion-button round outline class="offer-action" (click)="favorite()"><i class="otIcon-favorites"></i></button></li>
            <li><button ion-button round outline class="offer-action" (click)="addReview()"><i class="otIcon-review"></i></button></li>
          </ul>
        </div>
      </div>
      <ion-item class="item-title">
        <ion-avatar item-right class="item-rating">
          <i class="otIcon-star-off" style="font-size: 2rem;"></i>
          <span *ngIf="product.avgRating.qtd > 3"> {{product.avgRating.avg | number : '1.1-1'}}</span>
          <span class="not-enough" style="word-wrap: normal;" *ngIf="product.avgRating.qtd <= 3"> sem avaliações suficientes</span>
        </ion-avatar>
        <ion-avatar item-left>
          <img src="{{product.seller.picture.thumbnail}}">
        </ion-avatar>
        <h2>{{product.item.title}}</h2>
        <p>{{product.seller.name}}</p>
      </ion-item>
      <ion-card-content>
        <p>{{product.description}}</p>
      </ion-card-content>
    </ion-card>

    <ion-card round inset class="gift-card" *ngIf="product.vouchers">
      <ion-item *ngFor="let cupom of product.vouchers">
        <ion-row>
          <ion-col><i class="otIcon-wallet color1" item-right></i>
            <b>Voucher {{cupom.voucher.code}}</b>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-item class="price">
            {{(cupom.voucher.discount * 1000) | moneyFormat:['OTK']}}
            <button ion-button outline item-right (click)="confirmGiftBuy($event, cupom)">Trocar</button>
          </ion-item>
        </ion-row>

      </ion-item>
    </ion-card>

    <ion-list no-lines class="info-list">
      <ion-item>
        <i class="otIcon-money" item-left></i>
        <h2>{{product.pricePerUnit - (product.pricePerUnit * product.discountPerUnit/100) | moneyFormat:[]}}</h2>
      </ion-item>
      <ion-item (click)="gotoCompany()">
        <i class="otIcon-store" item-left></i>
        <h2>{{product.seller.name}}</h2>
      </ion-item>
      <ion-item>
        <i class="otIcon-location" item-left></i>
        <h2>{{product.seller.billingAddress.formattedAddress}}</h2>
      </ion-item>

      <ion-item class="search-btn" no-lines>
        <button ion-button round outline (click)="gotoReviews($event)">Ver Avaliações</button>
      </ion-item>
    </ion-list>

  </div>

</ion-content>
