<ion-header>

  <ion-navbar>
    <ion-title>{{title}}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content class="review-detail-page">
  <div class="empty" *ngIf="status === viewStatus.Empty">
    <ion-icon name="thumbs-down"></ion-icon>
    <p>Nenhum resultado encontrado aqui!!</p>
  </div>

  <div *ngIf="status === viewStatus.Full">
	<ion-list *ngIf="reviews">
		<review-card *ngFor="let feed of reviews" [feed]="feed" (click)="gotoUser(feed.buyer.buyerId)"></review-card>
	</ion-list>
  </div>
</ion-content>

