user-card {
	ion-card {
		&.card-md {
			margin: 0;
			width: 100%;
			box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.12);
		}

		ion-card-content {
			ion-item {
				ion-avatar {
					img {

					}
				}
				ion-label {
					p {
						font-size: 1.4rem;
					}
				}
			}
		}
	}
}
